MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_BASE_URL=https://api.mailgun.net
MAILGUN_FROM=
MAILGUN_NOTIFY_TO=gomez.i.eduardomanuel@gmail.com
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_NAME=Administrador del Sistema
SEED_ADMIN_PASSWORD=
SEED_ADMIN_PASSWORD_MIN_LENGTH=12
